Pods/Manifest.lock
Pods/Bolts-Swift/LICENSE
Pods/Bolts-Swift/README.md
Pods/Bolts-Swift/Sources/BoltsSwift/Errors.swift
Pods/Bolts-Swift/Sources/BoltsSwift/Executor.swift
Pods/Bolts-Swift/Sources/BoltsSwift/Task+ContinueWith.swift
Pods/Bolts-Swift/Sources/BoltsSwift/Task+Delay.swift
Pods/Bolts-Swift/Sources/BoltsSwift/Task+WhenAll.swift
Pods/Bolts-Swift/Sources/BoltsSwift/Task+WhenAny.swift
Pods/Bolts-Swift/Sources/BoltsSwift/Task.swift
Pods/Bolts-Swift/Sources/BoltsSwift/TaskCompletionSource.swift
Pods/Headers/Public/BoltsSwift/Bolts-Swift-umbrella.h
Pods/Headers/Public/BoltsSwift/Bolts-Swift.modulemap
Pods/Headers/Public/MetaWear/MetaWear-umbrella.h
Pods/Headers/Public/MetaWear/MetaWear.modulemap
Pods/MetaWear/LICENSE.md
Pods/MetaWear/README.md
Pods/MetaWear/MetaWear/Core/Bridging.swift
Pods/MetaWear/MetaWear/Core/CBUUID.swift
Pods/MetaWear/MetaWear/Core/DeviceInformation.swift
Pods/MetaWear/MetaWear/Core/LogDelegate.swift
Pods/MetaWear/MetaWear/Core/MblMwGattChar.swift
Pods/MetaWear/MetaWear/Core/MetaWear.swift
Pods/MetaWear/MetaWear/Core/MetaWearData.swift
Pods/MetaWear/MetaWear/Core/MetaWearScanner.swift
Pods/MetaWear/MetaWear/Core/String+VersionCompare.swift
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/bindings/swift/cbindings.swift
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/module.modulemap
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/anonymous_datasignal.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/anonymous_datasignal_fwd.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/data.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/datasignal.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/datasignal_fwd.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/debug.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/event.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/event_fwd.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/logging.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/logging_fwd.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/macro.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/metawearboard.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/metawearboard_fwd.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/model.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/module.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/settings.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/status.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/timer.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/timer_fwd.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/types.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/anonymous_datasignal.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/anonymous_datasignal_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/constant.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/datainterpreter.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/datasignal.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/datasignal_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/debug.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/debug_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/event.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/event_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/event_register.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/logging.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/logging_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/logging_register.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/macro.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/macro_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/macro_register.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/metawearboard_def.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/metawearboard_macro.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/moduleinfo.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/moduleinfo.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/register.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/responseheader.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/responseheader.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/settings.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/settings_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/settings_register.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/timer.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/timer_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/timer_register.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/version.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/core/cpp/version.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/dfu/cpp/dfu_operations.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/dfu/cpp/dfu_operations.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/dfu/cpp/dfu_operations_details.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/dfu/cpp/dfu_operations_details.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/dfu/cpp/dfu_utility.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/dfu/cpp/dfu_utility.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/dfu/cpp/file_operations.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/dfu/cpp/file_operations.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/dfu/cpp/json.hpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/dfu/cpp/miniz.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/dfu/cpp/miniz.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/generator/cpp/common.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/generator/cpp/common.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/generator/cpp/CSharpGenerator.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/generator/cpp/CSharpGenerator.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/generator/cpp/JavaScriptGenerator.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/generator/cpp/JavaScriptGenerator.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/generator/cpp/PythonGenerator.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/generator/cpp/PythonGenerator.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/generator/cpp/SwiftGenerator.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/generator/cpp/SwiftGenerator.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/impl/cpp/datainterpreter.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/impl/cpp/metawearboard.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/peripheral/haptic.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/peripheral/ibeacon.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/peripheral/led.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/peripheral/neopixel.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/peripheral/peripheral_common.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/peripheral/cpp/haptic.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/peripheral/cpp/ibeacon.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/peripheral/cpp/led.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/peripheral/cpp/neopixel.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/platform/btle_connection.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/platform/dllmarker.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/platform/memory.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/platform/cpp/async_creator.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/platform/cpp/async_creator.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/platform/cpp/concurrent_queue.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/platform/cpp/memory.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/platform/cpp/task.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/platform/cpp/task.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/platform/cpp/threadpool.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/platform/cpp/threadpool.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/accounter.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/accumulator.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/average.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/buffer.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/comparator.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/counter.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/dataprocessor.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/dataprocessor_fwd.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/delta.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/fuser.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/math.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/packer.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/passthrough.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/processor_common.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/pulse.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/rms.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/rss.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/sample.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/threshold.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/time.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/cpp/dataprocessor.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/cpp/dataprocessor_config.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/cpp/dataprocessor_config.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/cpp/dataprocessor_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/processor/cpp/dataprocessor_register.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/accelerometer.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/accelerometer_bosch.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/accelerometer_mma8452q.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/ambientlight_ltr329.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/barometer_bosch.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/colordetector_tcs34725.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/conductance.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/gpio.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/gyro_bosch.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/humidity_bme280.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/i2c.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/magnetometer_bmm150.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/multichanneltemperature.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/proximity_tsl2671.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/sensor_common.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/sensor_fusion.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/spi.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/switch.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/accelerometer.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/accelerometer_bosch.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/accelerometer_bosch_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/accelerometer_bosch_register.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/accelerometer_mma8452q.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/accelerometer_mma8452q_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/accelerometer_mma8452q_register.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/accelerometer_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/ambientlight_ltr329.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/ambientlight_ltr329_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/ambientlight_ltr329_register.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/barometer_bosch.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/barometer_bosch_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/barometer_bosch_register.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/colordetector_tcs34725.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/colordetector_tcs34725_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/colordetector_tcs34725_register.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/conductance.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/conductance_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/conductance_register.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/gpio.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/gpio_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/gpio_register.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/gyro_bosch.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/gyro_bosch_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/gyro_bosch_register.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/humidity_bme280.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/humidity_bme280_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/humidity_bme280_register.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/magnetometer_bmm150.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/magnetometer_bmm150_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/magnetometer_bmm150_register.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/multichanneltemperature.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/multichanneltemperature_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/multichanneltemperature_register.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/proximity_tsl2671.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/proximity_tsl2671_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/proximity_tsl2671_register.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/sensor_fusion.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/sensor_fusion_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/sensor_fusion_register.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/serialpassthrough.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/serialpassthrough_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/serialpassthrough_register.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/switch.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/switch_private.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/switch_register.h
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/utils.cpp
Pods/MetaWear/MetaWear/MetaWear-SDK-Cpp/src/metawear/sensor/cpp/utils.h
Pods/Pods.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/xcuserdata/rio.xcuserdatad/xcschemes/Bolts-Swift.xcscheme
Pods/Pods.xcodeproj/xcuserdata/rio.xcuserdatad/xcschemes/MetaWear.xcscheme
Pods/Pods.xcodeproj/xcuserdata/rio.xcuserdatad/xcschemes/Pods-MW_Test.xcscheme
Pods/Pods.xcodeproj/xcuserdata/rio.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Target Support Files/Bolts-Swift/Bolts-Swift-dummy.m
Pods/Target Support Files/Bolts-Swift/Bolts-Swift-prefix.pch
Pods/Target Support Files/Bolts-Swift/Bolts-Swift-umbrella.h
Pods/Target Support Files/Bolts-Swift/Bolts-Swift.debug.xcconfig
Pods/Target Support Files/Bolts-Swift/Bolts-Swift.modulemap
Pods/Target Support Files/Bolts-Swift/Bolts-Swift.release.xcconfig
Pods/Target Support Files/MetaWear/MetaWear-dummy.m
Pods/Target Support Files/MetaWear/MetaWear-prefix.pch
Pods/Target Support Files/MetaWear/MetaWear-umbrella.h
Pods/Target Support Files/MetaWear/MetaWear.debug.xcconfig
Pods/Target Support Files/MetaWear/MetaWear.modulemap
Pods/Target Support Files/MetaWear/MetaWear.release.xcconfig
Pods/Target Support Files/Pods-MW_Test/Pods-MW_Test-acknowledgements.markdown
Pods/Target Support Files/Pods-MW_Test/Pods-MW_Test-acknowledgements.plist
Pods/Target Support Files/Pods-MW_Test/Pods-MW_Test-dummy.m
Pods/Target Support Files/Pods-MW_Test/Pods-MW_Test-umbrella.h
Pods/Target Support Files/Pods-MW_Test/Pods-MW_Test.debug.xcconfig
Pods/Target Support Files/Pods-MW_Test/Pods-MW_Test.modulemap
Pods/Target Support Files/Pods-MW_Test/Pods-MW_Test.release.xcconfig
Podfile.lock
MW_Test.xcodeproj/project.pbxproj
MW_Test.xcodeproj/xcshareddata/xcschemes/MW_Test.xcscheme
MW_Test.xcodeproj/xcuserdata/rio.xcuserdatad/xcschemes/xcschememanagement.plist
MW_Test.xcworkspace/contents.xcworkspacedata
MW_Test.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
MW_Test.xcworkspace/xcuserdata/rio.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MW_Test/Base.lproj/Main.storyboard
