Pods/
MW_Test.xcodeproj/xcshareddata/xcschemes/MW_Test.xcscheme
MW_Test.xcodeproj/xcuserdata/rio.xcuserdatad/xcschemes/xcschememanagement.plist
MW_Test.xcworkspace/contents.xcworkspacedata
MW_Test.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
MW_Test.xcworkspace/xcuserdata/rio.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
